*{
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    min-width: 700px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
/* HEADER -------------------------------- HEADER */
header{
    width: 100%;
    min-width: 700px;
    display: flex;
    position: fixed;
    background-color: wheat;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    z-index: 3;
}
.icono{
    margin: 5px;
    display: flex;
    align-items: center;
}
.icono img{
    height: 60px;
    margin-left: 0;
}
nav a{
    color: black;
    margin: 5px;
    font-weight: 600px;
    padding-right: 10px;
    text-decoration: none;
}
nav a:hover{
    color: orangered;
    text-decoration: none;
}
section:before {
    content: "";
    display: block;
    height: 70px; /* Ajusta a la altura del header */
    margin-top: -70px; /* Debe ser igual a la altura del header */
}
/* TEXTO NAVEGAR*/
.flotante {
    display: flex;
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 3;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.flotante a{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
    text-align: left;
    font-weight: bold;
    color: orange;
    text-decoration: none;
}
.flotante a:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orangered;
    color: orangered;
}

/* MAIN ---------------------------------- MAIN */
main{
    padding-top: 70px;
    width: 100%;
}
section{
    margin: 15px 0;
}
.contenedor {
    width: 100%;
    min-width: 700px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    display: block;
}
.tabla{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.tabla>div{
    margin: 0;
    padding: 15px;
}
.divicion-30{
    flex: 3;
}
.divicion-70{
    flex: 7;
}
.divicion-50{
    flex: 5;
}
/* Sección de Inicio */
.descripcion img{
    width: 100%;
}
.descripcion h2{
    color: orange;
    font-size: 3rem;
}
.descripcion p{
    font-size: 1.2rem;
}
.sombra{
    border-radius: 20px;
    background-color: #efefef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.mapa iframe {
    border-radius: 20px;
}
/* Sección de Inicio */
.contactame h3{
    color: orange;
    font-size: 3rem;
}
.contactame p{
    font-size: 1.2rem;
}

/* Seccion formulario*/
.redes {
    list-style-type: none;
    padding: 0;
}
.redes li {
    margin-bottom: 10px;
}
.redes a {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}
.redes a:hover {
    color: orangered;
}
label {
    display: block;
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    resize: none;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    resize: none;
    height: 100px;
}
.button {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: wheat;
    background-color: orange;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
.button:hover {
    background-color: orangered;
}

@media (max-width: 700px) {
    .tabla{
        display: block;
    }
}